@import "../nodebb-theme-persona/theme";
@import "./less/categories";
@import "./less/category";
@import "./less/style";

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-width: 0 1px 4px 1px;
 }

table
{
  font-size: 14px;
	border-collapse:collapse;
	margin:20px 0 0;
	padding:0;
}

table tr
{
	border-top:1px solid #ccc;
	background-color:#fff;
	margin:0;
	padding:0;
}

table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}
table tr th[align="center"], table tr td[align="center"] {
	text-align:center;
}
table tr th, table tr td
{
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px;
}

@media screen and (min-width: 800px) {
.content .video-container {max-width: 824px; padding-bottom: 45%;}
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.composer .mobile-navbar {
    background: #ffffff;
    color: #000;
}

.topic .posts .content .img-responsive, .topic .posts .content iframe .btn .recent-cards .recent-card .bg {
    border-radius: 3px;
}
